.faide_slider{
  width: 100%;
  margin: 0px auto 0 auto;
  float: left;
}

.faide_slider #slider{
  width: 90%;
  padding: 30px 5% 25px 5%;
  font-size: 14px;
  line-height: 25px;
  overflow: hidden;
  color: #fff;
    background-color: #3398d4;
	border-radius: 4px;
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.faide_slider #slider strong{
	color: #fff;
	font-size: 14px;
}

.faide_slider #slider b{
	color: #fff;
	font-size: 14px;
	display: block;
	margin-top: 13px;
	font-weight: bold;
	margin-top: 22px;
}
.faide_slider #slider b em{
	color: #eee;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	display: block;
	margin: -5px 0px 0px 0px;
}


.faide_slider #slide1{
  float: left;
  margin: 0 auto;
  width: 100%;
}

.faide_slider #slide2{
  float: left;
  display: none;
  margin: 0 auto;
  width: 100%;
}
.faide_slider #slide3{
  float: left;
  display: none;  
  margin: 0 auto;
  width: 100%;
}
.faide_slider #slide4{
  float: left;
  display: none;
  margin: 0 auto;
  width: 100%;
}


.faide_slider ul.controlls{
  padding: 0px;
  margin: 0 0 0 40%;
}

.faide_slider .controlls li{
	float: left;
  padding: 0px;
  margin: 0 4px;
}
.faide_slider .controlls li .slide1 {
	float: left;
	width: 68px;
	height: 68px;
	border: 1px solid #3d3d48;
	border-radius: 100%;
	background: url(../../images/people-img1.jpg) no-repeat center top;
}
.faide_slider .controlls li .slide2 {
	float: left;
	width: 68px;
	height: 68px;
	border: 1px solid #3d3d48;
	border-radius: 100%;
	background: url(../../images/people-img3.jpg) no-repeat center top;
}
.faide_slider .controlls li .slide3 {
	float: left;
	width: 68px;
	height: 68px;
	border: 1px solid #3d3d48;
	border-radius: 100%;
	background: url(../../images/people-img4.jpg) no-repeat center top;
}
.faide_slider .controlls li .slide4 {
	float: left;
	width: 68px;
	height: 68px;
	border: 1px solid #3d3d48;
	border-radius: 100%;
	background: url(../../images/people-img4.jpg) no-repeat center top;
}


@media only screen and (min-width: 1000px) and (max-width: 1169px){

.faide_slider ul.controlls{
  padding: 0px;
  margin: 0 0 0 38%;
}

}

@media only screen and (min-width: 768px) and (max-width: 999px){

.faide_slider ul.controlls{
  padding: 0px;
  margin: 0 0 0 34%;
}

}

@media only screen and (min-width: 480px) and (max-width: 767px){

.faide_slider ul.controlls{
  padding: 0px;
  margin: 0 0 0 23%;
}

}

@media only screen and (max-width: 479px){

.faide_slider ul.controlls{
  padding: 0px;
  margin: 0 0 0 11%;
}

}


